.CarouselItem {
  .h2-home {
    font-size: 2.5rem !important;
  }

  .menu-recipe {
    border-radius: 20px;
    width: 80vh;
    height: 80vh;
    object-fit: cover;
    background-position: center;
    display: flex;
  }

  // @media only screen and (max-width: 480px) {
  //   * {
  //     font-size: 50%;
  //   }
  // }
}
