* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 0.2s linear;
}

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn-primary:hover {
  background-color: $primary-color-hover;
  border-color: $primary-color-hover;
}

.btn-primary:active {
  background-color: $primary-color-click !important;
  border-color: $primary-color-click !important;
}

.btn-secondary {
  background-color: white;
  color: black;
  border-color: rgb(200, 200, 200);
}

.btn-secondary:hover {
  background-color: $primary-color;
  border-color: $primary-color;
}

.cutoff-text {
  --max-lines: 4;
  --line-height: 1.4;
  height: calc(var(--max-lines) * 1em * var(--line-height));
  line-height: var(--line-height);
  position: relative;
  overflow: hidden;
}

.cutoff-text::before {
  content: "";
  position: absolute;
  height: calc(2em * var(--line-height));
  width: 100%;
  bottom: 0;
  pointer-events: none;
  background: linear-gradient(to bottom, transparent, white);
}

@media only screen and (max-width: 480px) {
  * {
    font-size: 50%;
  }
}
